<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ml.neoart.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. neoart.ml</name>

    <description>
        Первая в мире социальная сеть о творчестве!
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/bd7990f7ad07a24254ab3dabfc4f02f6.png" density="ldpi" />
        <icon src="res/android/icon/8e90eba0d0a9f1ec03f15809e3f28022.png" density="mdpi" />
        <icon src="res/android/icon/c42a6f87c48d0fe6c0abd1def217b7c5.png" density="hdpi" />
        <icon src="res/android/icon/9a47898954dae32bddc1074dec3215ce.png" density="xhdpi" />
        <icon src="res/android/icon/b321157596f2f2d762381bf81de50f7e.png" density="xxhdpi" />
        <icon src="res/android/icon/c6ef7e5106dc997a597e35dbf71908a6.png" density="xxxhdpi" />

        <splash src="res/android/screen/0ac89dde617f390c9d8719156bf81902.png" density="port-hdpi"/>
        <splash src="res/android/screen/b609a682802199c98150e71a27fac64b.png" density="port-ldpi"/>
        <splash src="res/android/screen/a0c1c65040282abd7bedaefcff0d938e.png" density="port-mdpi"/>
        <splash src="res/android/screen/44a39768fe6620d6c4174fbdf8784b30.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/68089b7cabe81af5aea3585d3aabf23e.png" width="180" height="180" />
        <icon src="res/ios/icon/828a17a0fd27c3338dc3b6dc2200104e.png" width="60" height="60" />
        <icon src="res/ios/icon/f293b1aba09f55de96be79298776976f.png" width="120" height="120" />
        <icon src="res/ios/icon/80a6f736c376346ebb5fbbde3ed53466.png" width="76" height="76" />
        <icon src="res/ios/icon/3dcb40652326356619a75eeb40141ad3.png" width="152" height="152" />
        <icon src="res/ios/icon/e9fb2a9e3799bb6bf28efd6ef8f8626f.png" width="57" height="57" />
        <icon src="res/ios/icon/d243fbdf46b2e119b03bc63fafb8ce43.png" width="114" height="114" />
        <icon src="res/ios/icon/145db223c37f8e39ca0cbff4e7726760.png" width="72" height="72" />
        <icon src="res/ios/icon/eaf0c5716b33933a5c34398e5717d7b6.png" width="144" height="144" />
        <icon src="res/ios/icon/e3715c0efe0c99c5246444fc454b9f6d.png" width="167" height="167" />
        <icon src="res/ios/icon/c9b329acd7ea5f5462feb58da6de1608.png" width="29" height="29" />
        <icon src="res/ios/icon/4c66040ce244f04a403f7ca51aa3c152.png" width="58" height="58" />
        <icon src="res/ios/icon/a7aa18b11951084be07a600d97989dc0.png" width="87" height="87" />
        <icon src="res/ios/icon/d46f0b3df78cf4a8678901075fa2ffff.png" width="167" height="167" />

        <splash src="res/ios/screen/76e7a529545ff00a83dbcc8f9126c152.png" />
        <splash src="res/ios/screen/ded43cfbe8bb98907b37e8dcd75d67c3.png" />
        <splash src="res/ios/screen/31bb7b886f60a3c458cfe40db5059421.png" />
        <splash src="res/ios/screen/25655bffc7f65b1de410166f38fa3b5a.png" />
        <splash src="res/ios/screen/50076712993872524d318ab0827b6285.png" />
        <splash src="res/ios/screen/b01c918ce69b7f99a58496c209931df4.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/7f2fef97194c063849c67901054ef284.png" target="StoreLogo" />
        <icon src="res/windows/icon/d7186015b86d9674abb98059fa89c374.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/7564d83f7032d932910d044cf09f57ae.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/9869b7039cdfbfcd0779a6e369393382.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/e967f3be7974c3658bb3bfb39139e230.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/3bf879340e6e1c27082b24010dd7116e.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/3be1a84bf4a7aa338684408116ec02fd.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/57358354177f3b0720da19461eb4da43.png" target="SplashScreen"/>
        <splash src="res/windows/screen/d8fba560720f69e142d9de202185d7df.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>